# vscode
.vscode 

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Don't add the contents of the dist folder to the 
# GIT repo as it contains derived artifacts only
dist

# We don't want to version the code coverage files
coverage
